:root {
    --backgournd-color: #F9FAFF;
    --brand: #FDC435;
    --font-high: #25282B;
    --font-medium: #828282;
    --font-low: #9A9FA8;
    --margin: 20px;
}

p, h1, h2 {
    margin: 0;
}

i {
    cursor: pointer;
}

p {
    color: var(--font-low)
}

h1, h2 {
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1 {
    color: var(--font-high);
}

h2 {
    color: var(--font-medium);
}

body {
    margin: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--backgournd-color);
}

header {
    width: 100%;
    height: 60px;
    background-color: var(--brand);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header i {
    font-size: 24px;
    color: var(--font-high);
    margin-right: var(--margin);
}

header h1 {
    margin-left: var(--margin);
}

.hello {
    width: 100%;
    display: flex;
    height: 40vh;
}

.hello .left h1 {
    color: var(--font-high);
    margin-top: var(--margin);
}

.hello .left {
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: var(--margin);
}

.hello .right {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hello .right img {
    width: 180px;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

#start {
    text-align: center;
    animation: fadeIn 4s forwards;
    height: 30vh;
}

#start h1 {
    margin-bottom: var(--margin);
}

#start p {
    margin: 0 var(--margin);
    text-align: justify;
    line-height: 36px;
}

#contact {
    margin: var(--margin);
    margin-top: 40px !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    animation: fadeIn 6s forwards;
}

#contact .social-media {
    margin-top: var(--margin);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

button {
    width: 80px;
    height: 36px;
    border-radius: 8px;
    color: var(--brand);
    background-color: transparent;
    border: 1px solid;
    border-color: var(--brand);
    margin-right: var(--margin);
}

button i {
    margin: 0 !important;
    color: var(--brand) !important;
}


#animatedImage, #animatedHello {
    opacity: 0;
    animation: fadeIn 2s forwards;
}

@media only screen and (min-width: 600px) {}